<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <h1><a href="/profile" class="active">Eazy Sneezy Social</a></h1>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/feed">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>

        </div>
    </section>
    <!--Entry-->
    <section>
        <div class="feed-container">
            <ul>
                <li class="card">
                    <div class="entry-topper">
                        <div class="entry-title">
                            <h2>
                                <%= entry.title %>
                            </h2>
                        </div>
                    </div>
                    <img class="entry-img" src="../<%= entry.image%>" />

                    <div class="like-delete">
                        <%if(entry.likes.includes(user.id)){%>
                        <form action="/entries/unlikeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">unLike</button>
                        </form>
                        <%} else {%>
                        <form action="/entries/likeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">Like</button>
                        </form>

                        <%} %>
                        <span>Likes: <%= entry.likeCount %></span>
                        <%if(entry.user==user.id){ %>
                        <form action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </section>
</body>