<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Entries-->
    <section>
        <div class="feed-container">
            <ul>
                <li class="card">
                    <div class="entry-topper">
                        <div class="entry-title">
                            <h2>
                                <%= entry.title %>
                            </h2>
                        </div>
                    </div>
                    <img class="entry-img" src="../<%= entry.image%>" />

                    <div>
                        <%if(entry.likes.includes(user.id)){%>
                        <form action="/entries/unlikeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">unLike</button>
                        </form>
                        <%} else {%>
                        <form action="/entries/likeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">Like</button>
                        </form>
                        <%} %>

                        <h3>Likes: <%= entry.likeCount %>
                        </h3>
                        <%if(entry.user==user.id){ %>
                        <form action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </section>
</body>