<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <h1><a href="/profile" class="active">Eazy Sneezy Social</a></h1>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/feed">Feed</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>

        </div>
    </section>
    <!--Entry-->
    <section>
        <div class="feed-container">
            <ul>
                <li class="card">
                    <div class="entry-topper">
                        <div class="entry-title">
                            <h2>
                                <%= entry.title %>
                            </h2>
                        </div>
                        <div>
                            <h2><%= entry.author%></h2>
                        </div>
                    </div>
                    <img class="entry-img" src="../<%= entry.image%>" />

                    <p id="caption"><%= entry.caption%></p>
                    <div class="interact-container">
                        <div class="like-delete">
                            <%if(entry.likes.includes(user.id)){%>
                            <form action="/entries/unlikeEntry/<%= entry.id %>?_method=PUT" method="POST">
                                <button type="submit">unLike</button>
                            </form>
                            <%} else {%>
                            <form action="/entries/likeEntry/<%= entry.id %>?_method=PUT" method="POST">
                                <button type="submit">Like</button>
                            </form>

                            <%} %>
                            <span>Likes: <%= entry.likeCount %></span>
                            <%if(entry.user==user.id){ %>
                            <form action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                            <%} %>
                        </div>
                        <!-- display comments input -->
                        <div class="comment-section">
                            <form id="createCommentForm"
                                action="/entries/createEntryComment/<%= entry.id %>?_method=POST" method="POST">
                                <div>
                                    <input type="text" name="comment" placeholder="my comment" required></input>
                                    <button class="add-comment" type="submit">Add Comment</button>
                                </div>
                            </form>
                            <!-- show comment count for this entry -->
                            <span>Comments: <%= entry.commentCount %></span>
                            <!-- show list of comments -->
                            <ul>
                                <%for(var i=0; i<=entry.comments.length; i++){%>
                                <li>
                                    <p><%=entry.comments[i]%></p>
                                </li>
                                <%} %>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>